//  Material Design Lite Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Typography
//   2. Colors
//   3. Textfield
//   4. Switch
//   5. Spinner
//   6. Radio
//   7. Menu
//   8. List
//   9. Layout
//  10. Icon toggles
//  11. Footer
//  12. Checkbox
//  13. Card
//  14. Button
//  15. Animation
//  16. Progress
//  17. Badge
//  18. Shadows
//  19. Grid
//  20. Data table
//  21. Dialog
//  22. Snackbar
//  23. Tooltip
//  24. Chip


// Typography
// -----

$preferred_font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$performance_font: 'Helvetica', 'Arial', sans-serif;


// Colors
// -----
// See https://material.io/guidelines/style/color.html

// Define whether individual color palette items should have classes created.
// Setting this to true will remove individual color classes for each color in the palettes.
// To improve overall performance (assuming they aren't used) by:
// * Saving server bandwidth sending the extra classes
// * Save client computation against the classes
// it is RECOMMENDED you set this to true.
$trim-color-classes: false;

// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.
$color-primary: $palette-indigo-500;
$color-primary-dark: $palette-indigo-700;
$color-accent: $palette-pink-A200;

// Our primary is dark, so use $color-dark-contrast for overlaid text.
$color-primary-contrast: $color-dark-contrast;

// Our accent is dark, so use $color-dark-contrast for overlaid text.
$color-accent-contrast: $color-dark-contrast;


// Textfield
// -----

$input-text-font-size: 16px;
$input-text-padding: 4px;
$input-text-vertical-spacing: 20px;

$input-text-button-size: 32px;
$input-text-floating-label-fontsize: 12px;
$input-text-expandable-icon-top: 16px;


// Switch
// -----

$switch-label-font-size: 16px;
$switch-label-height: 24px;
$switch-track-height: 14px;
$switch-track-length: 36px;
$switch-thumb-size: 20px;
$switch-helper-size: 8px;


// Spinner
// -----

$spinner-size: 28px;
$spinner-stroke-width: 3px;


// Radio
// -----

$radio-label-font-size: 16px;
$radio-label-height: 24px;
$radio-button-size: 16px;
$radio-padding: 8px;
$radio-ripple-size: 42px;


// Menu
// -----

$menu-expand-duration: 0.3s;
$menu-fade-duration: 0.2s;


// List
// -----

$list-border: 8px;
$list-min-height: 48px;
$list-min-padding: 16px;
$list-bottom-padding: 20px;
$list-avatar-text-left-distance: 72px;
$list-icon-text-left-distance: 72px;

$list-avatar-size: 40px;
$list-icon-size: 24px;

$list-two-line-height: 72px;
$list-three-line-height: 88px;


// Layout
// -----

$layout-drawer-narrow: 240px;
$layout-drawer-wide: 456px;
$layout-drawer-width: $layout-drawer-narrow;

$layout-header-icon-size: 32px;
$layout-screen-size-threshold: 1024px;
$layout-header-icon-margin: 24px;
$layout-drawer-button-mobile-size: 32px;
$layout-drawer-button-desktop-size: 48px;

$layout-header-mobile-row-height: 56px;
$layout-mobile-header-height: $layout-header-mobile-row-height;
$layout-header-desktop-row-height: 64px;
$layout-desktop-header-height: $layout-header-desktop-row-height;

$layout-header-desktop-baseline: 80px;
$layout-header-mobile-baseline: 72px;
$layout-header-mobile-indent: 16px;
$layout-header-desktop-indent: 40px;

$layout-tab-font-size: 14px;
$layout-tab-bar-height: 48px;
$layout-tab-mobile-padding: 12px;
$layout-tab-desktop-padding: 24px;
$layout-tab-highlight-thickness: 2px;


// Icon toggles
// -----

$icon-toggle-size: 32px;
$icon-toggle-font-size: 24px;
$icon-toggle-ripple-size: 36px;


// Footer
// -----

/*mega-footer*/
$footer-min-padding: 16px;
$footer-padding-sides: 40px;
$footer-heading-font-size: 14px;
$footer-heading-line-height: (1.7 * $footer-heading-font-size);
$footer-btn-size: 36px ;

/*mini-footer*/
$padding: 16px;
$footer-heading-font-size: 24px;
$footer-heading-line-height: (1.5 * $footer-heading-font-size);
$footer-btn-size: 36px;


// Checkbox
// -----

$checkbox-label-font-size: 16px;
$checkbox-label-height: 24px;
$checkbox-button-size: 16px;
$checkbox-inner-margin: 2px;
$checkbox-padding: 8px;


// Card
// -----

/* Card dimensions */
$card-width: 330px;
$card-height: 200px;
$card-font-size: 16px;
$card-title-font-size: 24px;
$card-subtitle-font-size: 14px;
$card-horizontal-padding: 16px;
$card-vertical-padding: 16px;

$card-title-perspective-origin-x: 165px;
$card-title-perspective-origin-y: 56px;

$card-title-transform-origin-x: 165px;
$card-title-transform-origin-y: 56px;

$card-title-text-transform-origin-x: 149px;
$card-title-text-transform-origin-y: 48px;

$card-supporting-text-font-size: 1rem;
$card-supporting-text-line-height: 18px;

$card-actions-font-size: 16px;

$card-title-text-font-weight: 300;
$card-z-index: 1;

/* Cover image */
$card-cover-image-height: 186px;
$card-background-image-url: '';


// Button
// -----

$button-min-width: 64px;
$button-height: 36px;
$button-padding: 16px;
$button-margin: 4px;
$button-border-radius: 2px;

$button-fab-size: 56px;
$button-fab-size-mini: 40px;
$button-fab-font-size: 24px;

$button-icon-size: 32px;
$button-icon-size-mini: 24px;


// Animation
// -----

$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);

$animation-curve-default: $animation-curve-fast-out-slow-in;


// Progress
// -----

$bar-height: 4px;


// Badge
// -----

$badge-font-size: 12px;
$badge-size: 22px;
$badge-padding: 2px;
$badge-overlap: 12px;


// Shadows
// -----

$shadow-key-umbra-opacity: 0.2;
$shadow-key-penumbra-opacity: 0.14;
$shadow-ambient-shadow-opacity: 0.12;


// Grid
// -----

$grid-desktop-columns: 12;
$grid-desktop-gutter: 16px;
$grid-desktop-margin: 16px;

$grid-desktop-breakpoint: 840px;

$grid-tablet-columns: 8;
$grid-tablet-gutter: $grid-desktop-gutter;
$grid-tablet-margin: $grid-desktop-margin;

$grid-tablet-breakpoint: 480px;

$grid-phone-columns: 4;
$grid-phone-gutter: $grid-desktop-gutter;
$grid-phone-margin: $grid-desktop-margin;

$grid-cell-default-columns: $grid-phone-columns;
$grid-max-columns: $grid-desktop-columns;


// Data table
// -----

$data-table-font-size: 13px;
$data-table-header-font-size: 12px;
$data-table-header-sort-icon-size: 16px;

$data-table-header-color: rgba(#000, 0.54);
$data-table-header-sorted-color: rgba(#000, 0.87);
$data-table-header-sorted-icon-hover-color: rgba(#000, 0.26);
$data-table-divider-color: rgba(#000, 0.12);

$data-table-hover-color: #eeeeee;
$data-table-selection-color: #e0e0e0;

$data-table-dividers: 1px solid $data-table-divider-color;

$data-table-row-height: 48px;
$data-table-last-row-height: 56px;
$data-table-header-height: 56px;

$data-table-column-spacing: 36px;
$data-table-column-padding: $data-table-column-spacing / 2;

$data-table-card-header-height: 64px;
$data-table-card-title-top: 20px;
$data-table-card-padding: 24px;
$data-table-button-padding-right: 16px;
$data-table-cell-top: $data-table-card-padding / 2;


// Dialog
// -----

$dialog-content-color: $card-supporting-text-text-color;


// Snackbar
// -----

// Hard coded since the color is not present in any palette.
$snackbar-background-color: #323232;
$snackbar-tablet-breakpoint: $grid-tablet-breakpoint;


// Tooltip
// -----

$tooltip-font-size: 10px;
$tooltip-font-size-large: 14px;


// Chip
// -----

$chip-bg-color: rgb(222, 222, 222);
$chip-bg-active-color: rgb(214, 214, 214);
$chip-height: 32px;
$chip-font-size: 13px;
